:root {
    --color-primary: #3499ff;
    --color-secondary: #142893;
}

html, body {
    height: 100vh;
    width: 100%;
    background-color: var(--color-primary);
    font-family: "Roboto Light", sans-serif;
}
